* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
}

main {
  background-color: #F5F5F5;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}
.dice-item{
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dice-num{
  font-family: 'Karla';
  font-weight: 700;
  font-size: 20.6px;
  line-height: calc(24/20.6 *100%);
  color: #2B283A;
}
.roll-button{
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  border: none;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 16.384px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 90px;
  height: 35px;
  margin-top: 25px;
  cursor: pointer;
}

.title{
  font-family: 'Karla';
  font-weight: 700;
  font-size: 25.6px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #2B283A;
}
.text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13.1072px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #4A4E74;
  margin: 0;
  margin-bottom:20px ;
}